body, ul, li, a{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

body {
	background-color: #035A6D;
	color: white;
}

.project {
	width: 80%;
	margin: auto;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}

.txt {
	display: flex;
	flex-direction: column;
}

h2 {
	margin-block: 0px;
}

.divider {
	width: 175px;
}

.square {
	height: 350px;
	width: 65em;
	background-color: #ABE7E8;
}


hr {
	width: 80%;
	height: 1px;
	background-color: white;
	border: none;
	margin-top: 5em;
}

#new-blog {
	padding: 1em;
	margin-left: 43%;
}

#new-blog a {
	color: white;
}

#new-blog a:hover {
	color: darkblue;
}
